body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 0 auto; /* Add this line to center the inputs */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* BEGIN: Additional Styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.error-message {
    color: red;
    font-weight: bold;
}

.success-message {
    color: green;
    font-weight: bold;
}

/* Additional Styles for the form */
#name,
#surname,
#email,
#country,
#password {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* END: Additional Styles */
